includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    autoload_directories:
        - tests
        - var/phpunit/phpunit-7.5/src
    tmpDir: var/phpstan
    ignoreErrors:
        -
            message: '#Method .+\\.+ResponderTest::doRespond\(\) should return Symfony\\Component\\HttpFoundation\\.+Response but returns Symfony\\Component\\HttpFoundation\\Response\.#'
            path: tests/
