includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: var/phpstan

    ignoreErrors:
        - '#Constructor of class ro0NL\\HttpResponder\\Tests\\Bundle\\DependencyInjection\\Test(DecoratingResponder|Service) has an unused parameter \$responder\.#'

        # Symfony
        -
            message: '#Call to deprecated function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\tagged\(\)#'
            path: src/Bundle/Resources/config/services.php
